autostart/
'Code - Oss'/
dconf/
discord/
evolution/
falkon/
gedit/
GIMP/
gnome-session/
goa-1.0/
gsconnect/
gthump/
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
Kvantum/
libreoffice/
nautilus/
neofetch/
obsidian/
pamac/
picom/
presets/
pulse/
qalculate/
qt5ct/
qt6ct/
ranger/
tlpui/
touchegg/
wal/
.conf
.list
.json
.dirs
.locale
