configuration{
modes: "window,drun,run,ssh,calc,filebrowser";
font: "Source Code Pro";
      combi-modes: "window,run,calc,filebrowser";
      filebrowser {
	      directories-first: true;
	      sorting-method:    "name";
      }

}

@theme "/home/karpa/.config/rofi/themes/mothLight.rasi"
